<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Test123.test456.Reports"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>     
      <class name="Test123.test456.Base"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
